version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: vap_pass
      MYSQL_DATABASE: vap_db
      MYSQL_USER: vap_user
      MYSQL_PASSWORD: vap_pass
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 15

  backend:
    build: ./backend
    container_name: backend
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    depends_on:
      mysql:
        condition: service_healthy

  fastapi:
    build: ./python
    container_name: fastapi
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - ./python/.env
    depends_on:
      mysql:
        condition: service_healthy


  frontend:
    build: ./frontend-fe
    container_name: frontend
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - ./frontend-fe/.env.production
    depends_on:
      backend:
        condition: service_started
      fastapi:
        condition: service_started

volumes:
  mysql_data:
